<table class="list-books-table">
  <caption><h1>My books</h1></caption>
  <thead class="list-books-head">
  <tr>
    <th scope="col">Cover</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Status</th>
    <th scope="col">Date added</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% books.each do |book| %>
    <tr>
      <td><img class="cover-img" src="<%= book[:img] %>"></td>
      <td class="list-book-title"><%= book[:title] %></td>
      <td class="list-book-text"><%= book[:author] %></td>
      <td class="list-book-text"><%= book[:status] %></td>
      <td class="list-book-text"><%= format_date(book[:date_added]) %></td>
      <td>
        <a href="/books/<%= book[:obj_id] %>/edit" class="edit-link"><i class="fas fa-pen"></i></a>
        <form class="delete-form" method="POST" action="/delete-book/<%= book[:obj_id] %>">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="delete-link"><i class="fas fa-trash"></i></button>
        </form>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>